/* import custom font */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    background-color: gray;
    font-family: 'Courgette', cursive;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
    color: #fca311;
    padding: 10px;
}

.header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 54px;
}

.header p {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.parent {
    max-width: 700px;
    margin: 30px auto;
    height: 100%;
}

.selections {
    display: flex;
    justify-content: space-around;
    padding: 20px 15px 20px 15px;
    border: 3px solid black;
    border-radius: 10px;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8rem;
    transition: 100ms;
    }



.selection:hover {
    transform: scale(1.2);
}

.results {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ft-copyright p {
    font-size: 20px;
}

.ft-copyright {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
}